
body {
    background-image:rgba(118, 153, 194, 0.6);
      background-size: cover;
  }
  .search-form {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
  }
  header{
    
    margin-right: 45%;
    margin-top: 3%;
  }
  .header img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 90px;
  }
  .navbar sticky-top navbar-light bg-light {
    display: inline;
    justify-content: space-between;
    background-color: bisque;
    text-align: center;
  }
  .footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: rgb(233, 212, 92);
    text-align: center;
    margin-bottom: 0px;
    margin-top: 50%;
  }
  aside , heading {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
  }